<div class="titleB"><%= I18n.t('tog_social.projects.member.edit_project', :project => @project.name) %></div>
<br/>
<%= error_messages_for :project %>

<% form_for(@project, :url => member_project_path(@project), :html => { :multipart => true, :method => :put}) do |f| %>
  <fieldset>
    <div class="fields">
      <p>
        <label for="project_name"><%= I18n.t('tog_social.projects.model.name') %></label>
        <%= f.text_field  :name, :class => 'fieldbox wide' %>
      </p>
      <p>
        <label for="project_description"><%= I18n.t('tog_social.projects.model.description') %></label>
        <%= f.text_area  :description, :class => 'fieldbox wide', :size => '60x10' %></dd>
      </p>
      <p>
        <label for="project_tag_list"><%= I18n.t('tog_social.tags.tags') %></label>
        <%= f.text_field  :tag_list, :class => 'fieldbox' %><br/>
        <span class="helpinfo"><%= I18n.t('tog_social.tags.separated_by_comma') %></span>
      </p>
      <p>
        <label for="project_image"><%= I18n.t('tog_social.projects.model.image') %></label>
        <%= image_for_project(@project, 'medium') %><br/>
        <%= file_field "project", "image" %><br/>
        <span class="helpinfo"><%= I18n.t('tog_social.projects.model.image_help') %></span>
      </p>
      <p>
        <label for="project_private" class="nolabel"><%= f.check_box :private %> <%= I18n.t('tog_social.projects.model.private') %></label><br/>
        <span class="helpinfo"><%= I18n.t('tog_social.projects.model.private_help') %></span>
      </p>
      <p>
        <label for="project_moderated" class="nolabel"><%= f.check_box :moderated %> <%= I18n.t('tog_social.projects.model.moderated') %></label><br/>
        <span class="helpinfo"><%= I18n.t('tog_social.projects.model.moderated_help') %></span>
      </p>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit I18n.t('tog_social.projects.member.update'),:class=>"button mainaction" %>
  </div>
<% end %>
