<h1><%= I18n.t("tog_social.projects.admin.projects") %></h1>

<table class="tableE">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t("tog_social.projects.model.name") -%></th>
      <th scope="col"><%= I18n.t("tog_social.projects.model.created_by") -%></th>
      <th scope="col"><%= I18n.t("tog_social.projects.model.private") -%></th>
      <th scope="col"><%= I18n.t("tog_social.projects.model.moderated") -%></th>
      <th scope="col"><%= I18n.t("tog_social.projects.model.active") -%></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="5" class="info_results">
        <span class="info_items"><%= page_entries_info @projects %></span>
        <span class="pages_navigation right">
          <%= will_paginate @projects, :container => false %>
        </span>
        </td>
    </tr>
  </tfoot>  
  <tbody>
    <% @projects.each do |project| %>
    <tr<%= cycle('',' class="pair"') -%>>
      <td><%= link_to project.name, edit_admin_project_url(project), {:class => "admin", :title => I18n.t("tog_social.projects.admin.edit_project")} -%></td>
      <td><%= link_to project.author.profile.full_name, edit_admin_user_path(project.author) if project.author %></td>
      <td><%= project.private == true ? I18n.t("tog_social.msg_yes") : I18n.t("tog_social.msg_no") -%></td>
      <td><%= project.moderated == true ? I18n.t("tog_social.msg_yes") : I18n.t("tog_social.msg_no") -%></td>
      <td><%= project.active? == true ? I18n.t("tog_social.msg_yes") : I18n.t("tog_social.msg_no")  -%></td>
    </tr>
    <% end %>
  </tbody>
</table>
