<div class="portlet portletH" id="portlet_projects">
    <h2><span><%= I18n.t('tog_social.projects.site.title') %></span></h2>
    <p><%= link_to I18n.t('tog_social.projects.site.create_project'), new_member_project_path, :class => 'button add' %></p>
    <div class="portlet_content">
        <ul>
          <% @projects.each do |project|%>
          <li class="clearfix">
              <div class="image"><%=link_to image_for_project(project, 'medium'), project_path(project)%></div>
              <div class="title"><%= link_to project.name, project_path(project) %></div>
              <div class="text">
                 <%=project.description%>
              </div>
              <div class="members"><strong>
              <%= I18n.t('tog_social.projects.model.members', :count => project.members.size) %></strong></div>
          </li>          
          <%end%>          
        </ul>
    </div>    
</div>


<%= will_paginate @projects %>

<% content_for :sidebar do %>

  <% 'render :partial => "search_box" ' %>

  <%= render :partial => "last_projects" %>

<% end %>
