<div class="detail detail1">
  <div class="image"><%= link_to image_for_project(@project, 'medium', :class=>"img"), project_path(@project) %></div>
  <div class="title"><%= link_to @project.name, project_path(@project) %></div>
  <div class="subtitle"><%= I18n.t('tog_social.projects.model.created_at') %> <%= @project.created_at.strftime("%d/%m/%Y") %>, <%= I18n.t('tog_social.projects.model.members', :count => @project.members.size) %></div>
  <div class="summary"><%= I18n.t('tog_social.projects.model.moderated_by') %>:
    <% for moderator in @project.moderators -%>
      <%=link_to moderator.profile.full_name, profile_path(moderator.profile), :class=> 'maincolor4'%>
    <% end -%>
    <br/>
    <%= I18n.t('tog_social.tags.tags') %>: 
      <% for tag in @project.tag_list %>
        <%= link_to tag.to_s, tag_projects_path(tag) %>
      <% end %>   
  </div>
  <div class="text">
    <p><%= @project.description %></p>
  </div>
</div> <!-- /.detail1 --> 

<% content_for :sidebar do %>

<div class="portlet portletC" id="portlet_moreLinks">
    <h2><span><%= I18n.t('tog_social.more_links') %></span></h2>
    <div class="portlet_content">
        <ul>
          <% if i_am_member_of @project -%>
            <li><%= I18n.t('tog_social.projects.site.member') %><%= link_to I18n.t('tog_social.projects.site.leave'), leave_project_path(@project), :confirm => I18n.t('tog_social.projects.site.leave_confirm'), :class => 'delete' %></li>
          <% else -%>
            <li><%= link_to I18n.t('tog_social.projects.site.join'), join_project_path(@project), :class => 'add' %></li>
          <% end -%>  
        </ul>
    </div> 
</div>    

<%= render :partial => "shared/profiles_portlet", :locals => { 
  :items => @project.members.collect(&:profile), 
  :style => :portletG, 
  :title => I18n.t('tog_social.projects.model.members', :count => @project.members.size),  
  :no_items => I18n.t('tog_social.projects.model.members_not_found', :project_name => @project.name) } %>
<% end %>
